
body {
    margin-right: 15px;
    margin-left: 15px;
}


/* --------------------------- Barra de Navegacion -------------------------- */

.bavbar{

    height: 6vh;

}


/* -------------------------------- Carrusel -------------------------------- */

.estilo-Carrusel {
    height: 90vh;
    width: 100%;
}

/* ------------------------------ Sobre Nosotros ------------------------------ */

#sobre-nosotros {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 15px;
}

.nosotros {
    display: flex;
    justify-content: center;
    
}

.nosotros img {
    margin: 25px;
}


/* -------------------------------- Contacto -------------------------------- */

.contacto {

    display: flex;
justify-content: center;
min-height: 10vh;
background-color: black;
color: white;
align-items: center;
}

.contacto-form{
    color: white;
background-color: rgb(61,78,102);
}
.contacto-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 20%;
    margin-left: 80vh;
}

.contacto-form form label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacto-form form input {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
/* --------------------------------- Footer --------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(40, 38, 38);
    height: 4em;
    margin: 0;
}

